// --- Variables --- //
$color-primary: hsl(217, 19%, 35%);
$color-secondary: hsl(214, 17%, 51%);
$color-tertiary: hsl(212, 23%, 69%);
$color-op: hsl(210, 46%, 95%);
$background: linear-gradient($color-op, $color-op);
$font-primary: "Manrope", sans-serif;

// --- Font --- //
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap");

// --- Base --- //
html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-primary;
}

body {
  background: $background no-repeat;
  height: 100%;
  min-height: 100vh;
}

// --- Content --- //
.wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  width: 320px;
  min-height: 490px;
  background: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 32px 70px -14px rgba(0, 0, 0, 0.34);
}

.img-wrapper {
  width: 100%;
  height: 220px;
  min-height: 220px;
  background-image: url("../images/drawers.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 30px;
}

.content {
  width: 100%;
  padding: 0 30px 20px;

  h2 {
    font-size: 1.6rem;
    color: $color-primary;
    font-weight: 700;
    margin-bottom: 10px;
  }

  p {
    font-size: 1.35rem;
    color: $color-secondary;
    font-weight: 500;
  }
}

.content-footer {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .profile {
    display: flex;
    justify-content: center;
    align-items: center;

    .avatar {
      border-radius: 50%;
      width: 42px;
      height: 42px;
      margin-right: 15px;
    }

    .name {
      color: $color-primary;
      font-weight: 700;
    }

    .date {
      margin-top: 3px;
      color: $color-tertiary;
      font-size: 1.3rem;
    }
  }
}

.share-wrapper {
  clip-path: circle(16px at 274px 34px);
  transition: clip-path 0.8s ease-in-out;
  position: absolute;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

ul {
  background: $color-op;
  list-style-type: none;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 30px;
  transition: background 0.8s ease-in-out;
}

.share-wrapper.open {
  clip-path: circle(300px at 274px 34px);
}

.share-wrapper.open ul {
  background: $color-primary;
}

.link-social {
  display: flex;
  align-items: center;

  span {
    color: $color-tertiary;
    text-transform: uppercase;
    font-size: 1.3rem;
    letter-spacing: 5px;
  }

  li {
    font-size: 2.2rem;
    margin: 0 10px;

    &:first-of-type {
      margin-left: 20px;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  a {
    color: #fff;
    text-decoration: none;
  }
}

.icon-share {
  display: none;
}

.icon-share-mobile {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  color: $color-secondary;
  background: $color-op;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  cursor: pointer;
}

.share-wrapper.open .icon-share-mobile {
  color: #fff;
  background: $color-secondary;
}

.tooltip {
  display: none;
}

@media only screen and (min-width: 768px) {
  .card-container {
    width: 640px;
    min-height: 240px;
    flex-direction: row;
    overflow: visible;
  }

  .img-wrapper {
    width: 70%;
    height: 240px;
    margin-bottom: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .content {
    padding: 0 30px;

    h2 {
      font-size: 1.8rem;
      margin-bottom: 10px;
    }

    p {
      font-size: 1.2rem;
    }
  }

  .content-footer {
    .profile {
      .avatar {
        width: 36px;
        height: 36px;
      }

      .date {
        font-size: 1.2rem;
      }
    }
  }

  .share-wrapper {
    display: none;
  }

  .icon-share {
    display: block;
    width: 32px;
    height: 32px;
    margin-top: 5px;
    margin-right: 10px;
    border-radius: 50%;
    color: $color-secondary;
    background: $color-op;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
  }

  .icon-share.triggered {
    color: #fff;
    background: $color-secondary;
  }

  .tooltip {
    display: none;
    position: absolute;
    z-index: 999;
    transform: translate(190px, -50px);

    .arrow-down {
      content: "";
      width: 0;
      height: 0;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-top: 12px solid $color-primary;
      transform: translate(100px, -2px);
    }

    ul {
      background: $color-primary;
      border-radius: 10px;
      padding: 10px 20px;
    }
  }
}

// .attribution {
//   font-size: 11px;
//   text-align: center;
// }
// .attribution a {
//   color: hsl(228, 45%, 44%);
// }
